<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="name" value="parakash" ></parameter>
    <parameter name="pass" value="parakash" ></parameter>
    <classes>
      <class name="org.test.TestGroups"/>
      <class name="org.test.TestSteps"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
